body {
  font-family: "Arial";
}
.navbar {
  height: 80px;
  color: white;
  background-color: black;
  padding: 20px;
}
.navbar h1 {
  margin-left: 20px;
  font-size: 50px;
}
.container {
  padding: 40px;
  background-color: black;
}
.search-bar  {
  display: flex;
  justify-content: center;;
}
.search-bar input {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  font-size: 16px;;
  border-radius: 15px;
}
button {
  height: 45px;
  margin-left: 10px;
  background-color: white;
  color: black;
  border: 4px solid rgb(15, 207, 250);
  padding: 0 20px;
  border-radius: 15px;
}
button:hover {
  cursor: pointer;
  border:4px solid rgb(245, 117, 252);
}
.unsplash-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.border {
  border: 1px solid #2e87ba;
  padding: 20px;
}
.header {
  font-size: 50px;
}
.black-background {
  background-color: black;
  color: white;
  text-align: center;
}
.explore:hover {
 color: rgb(245, 117, 252);
}
.discover:hover {
  color: rgb(251, 255, 26);
}
.inspire:hover {
  color: rgb(15, 207, 250);
}
.footer {
padding: 50px 0 10px;
}
a {
  text-decoration: none;
  color: rgb(15, 207, 250);
}
.card-image {
  padding: 5px;
  position: relative;
}
 .card-text {
  position: absolute;
  margin: 0;
  top: 14px;
  left: 16px;
  color: black;
  background-color: white;
  padding: 3px 6px;
  visibility: hidden;
  opacity: 0.8;
  border-radius: 5px;
}
.image:hover {
  transform: scale(1.05);
}
.card-image:hover + .card-text {
  visibility: visible;
}

@media all and (max-width: 900px){
  .image > img {
    height: 200px;
  }
  .card-text {
    top: 6px;
    left: 6px;
    max-width: 70%;
    font-size: small;
  }
}
@media all and (max-width: 650px){
  .image > img {
    height: 150px;
  }
  .header {
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
  }
  .navbar {
    height: 140px;
  }
  .search-bar input {
    padding-left: 10px;
  }
}